@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');

h1, h2, h3, h4, h5, h6, p, label, span {
  font-family: 'Roboto', sans-serif;  
  margin-bottom: 0;
}

.text-danger {
  margin-bottom: 0;
  color: red;
}