.o-admin-data-doctor-detail-header {
  background-color: white;
  padding: 2em;
  display: flex;
  align-items: center;
  .anticon {
    font-size: 2em;
  }
  h4 {
    font-size: 2em;
    margin-left: 1em;
    margin-bottom: 0;
  }
}