.o-admin-data-nurse {  
    &__header {
      margin-bottom: 6em;
      display: flex;
      justify-content: space-between;
      h3 {
        font-size: 2em;
      }
    }
    .text-danger {
      margin-bottom: 0;
      color: red;
    }
  }